:root {

  // Typogrpahy
  --main-text: #111827;
  --light-text: #9ca3af;


  // Backgrounds
  --white: #f9fafb;
  --white-bg: #F3F4F6;
  --light-bg: #E5E7EB;

  --light-hover: #D1D5DB;

  // Colours
  --red: #dc2626;
  --green: #059669;
  --blue: #2563eb;
  --purple: #6d28d9;
  --indigo: #312e81;
  --yellow: #FBBF24;


}
