
<div class="introduction-text">
  <h1>Welcome to the automation test!</h1>

  <p>
   This test project is still small but has some key pieces of functionality, these are
  </p>
  <ul>
    <li>
      Ability to favorite navigation items
    </li>
    <li>
      A users page
    </li>
    <li>
      Ability to see which users are active
    </li>
    <li>
      Ability to search the users by username
    </li>
    <li>
      Ability to delete users
    </li>
  </ul>

  <p>
    We want to ensure that this functionality stays consistent so we are looking to add automated testing to the project.
  </p>

  <h2>
    Other considerations
  </h2>

  <ul>
    <li>
      This system could need to support over 10,000 users
    </li>
    <li>
      We do not specify a minimum spec for our users or browser
    </li>
    <li>
      We have multiple clients, so data is likely to change
    </li>
  </ul>
</div>

